.button{
	transition: all 0.2s;
	user-select: none;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;

	i{
		margin-left: 5px;
		font-style: normal;
		font-weight: 800;
		font-size: 13px;
		color: #fff;
		width: 22px;
		height: 22px;
		background-color: #EB5A1E;
		text-align: center;
		line-height: 22px;
		border-radius: 30px;
	}

	&__delimiter{
		background: rgba(255, 255, 255, 0.25);
		width: 1px;
		height: 25px;
		margin: 0px 6px;
	}

	span{
		font-weight: 800;
		font-size: 16px;
		line-height: 19px;
		color: #fff;
	}

	&_cart{
		display: flex;
		height: 50px;
		padding: 0px 15px;
		background: #FE5F1E;

		img {
			margin-right: 6px;
		}

		&:hover{
			background: darken(#FE5F1E, 5%);
		}
	
		&:active{
			background: darken(#FE5F1E, 10%);
		}
	}

	&_outline{
		background: #FFFFFF;
		border: 1px solid #EB5A1E;

		svg{
			path{
				fill: #EB5A1E;
			}
		}

		span{
			color: #EB5A1E;
		}

		&:hover{
			background: darken(#FE5F1E, 5%);
	
			i{
				background-color: #FFFFFF;
				color: #EB5A1E;
			}
			
			span{
				color: #fff;
			}
	
			svg{
				path{
					fill: #fff;
				}
			}
		}
	
		&:active{
			background: darken(#FE5F1E, 10%);
		}
	}

	&_add{
		height: 40px;
		padding: 0px 15px;

		svg{
			margin-right: 7px;
		}
	}

	&_back{
		border: 1px solid #D3D3D3;
		box-sizing: border-box;
		border-radius: 30px;
		display: flex;
		align-items: center;
		padding: 18px 25px;
		user-select: none;

		svg{
			margin-right: 10px;
		}

		span{
			font-family: 'Proximanova';
			font-size: 16px;
			line-height: 12px;
			text-align: center;
			color: #CACACA;
		}

		&:hover{
			cursor: pointer;
			border-color:#FE5F1E;

			span{
				color: #FE5F1E;
			}

			svg{
				path{
					stroke: #FE5F1E;
				}
			}
		}
	}

	&_pay{
		padding: 18px 25px;
		background: #FE5F1E;

		&:hover{
			background: darken(#FE5F1E, 5%);
	
			i{
				background-color: #FFFFFF;
				color: #EB5A1E;
			}
			
			span{
				color: #fff;
			}
	
			svg{
				path{
					fill: #fff;
				}
			}
		}
	
		&:active{
			background: darken(#FE5F1E, 10%);
		}
	}

	&_modal {
		background: #282828;
		border-radius: 30px;
		color: #fff;
		font-weight: 800;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.015em;
		padding: 16px 25px;
		user-select: none;
		cursor: pointer;
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&:hover{
			background-color: #FE5F1E;
		}

		&:active{
			background-color: darken(#FE5F1E, 5%);
		}
	}
}